.contenedorItemDetail {
    margin: 0 10px 0 10px;
}

.contenedorDetail {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.contenedorFoto {
    min-width: 300px;
}

.imagenDeProducto {
    max-width: 100%;
    height: 300px;
    object-fit: cover;
}

.contenedorBody {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.productName {
    margin-bottom: 10px;
}

.productPrice {
    margin-bottom: 10px;
}

.productDescription {
    margin-bottom: 10px;
}

.contenedorStock {
    border: 2px solid #ff9f00;
    border-radius: 15px;
    color: green;
    font-size: large;
    font-weight: bold;
}

.contenedorOutOfStock {
    border: 2px solid #ff9f00;
    border-radius: 15px;
    color: red;
    font-size: large;
    font-weight: bold;
}