.cartWidgetContainer{
    display: flex;
    align-items: center;
    color: #ff9f00;
    font-size: large;
    font-weight: 500;
}

.cart-icon {
    color: white;
    font-size: 25px;
    padding: 10px 20px;
    cursor: pointer;
    animation-duration: 1s;
    animation-iteration-count: 2;
}