.buttonContainer {
    margin-bottom: 15px;
}

.buttonQuantityContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
    height: 30px;
}

.buttonCounter {
    border: 0 none;
    background-color: white;
    cursor: pointer;
}

.buttonCountContainer {
    margin-bottom: 5px;
}