.contenedorBotones {
    margin-bottom: 5px;
}

.contenedorBotonCantidad {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    border-radius: 9px;
    background-color: white;
}

.botonContador {
    border: 0 none;
    background-color: white;
    cursor: pointer;
}

.botonAgregarCarrito {
    border: 1px solid #ff9f00;
    border-radius: 9px;
    color: #ff9f00;
    cursor: pointer;
}

.contenedorBotonCount {
    margin-bottom: 5px;
}

.contenedorStock {
    border: 2px solid #ff9f00;
    border-radius: 15px;
    color: green;
    font-size: large;
    font-weight: bold;
}

.contenedorOutOfStock {
    border: 2px solid #ff9f00;
    border-radius: 15px;
    color: red;
    font-size: large;
    font-weight: bold;
}